@{
    ViewData["Title"] = "Create";
}
<div class="container" id="linkGen" style="margin-bottom:20px; margin-top:70px;">
    <p style="color:#212529; font-size: 20px;"><a asp-action="Index" style="text-decoration: none;color:#212529">Cliente/</a>registar</p>
</div>
<div class="container pt-3" id="headCliente" style="box-shadow: 1px 5px 15px #888888; margin-top:0px">

    <h4>Novo cliente</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="nome" class="form-label" style="font-family: inherit;">Nome completo</label>
                    <input for="nome" class="form-control form-control-lg" type="text" id="nome" value="" name="nome"
                        required />
                    <span validation-for="nome" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="sexo" class="form-label">Genéro</label>
                    <input for="sexo" class="form-control form-control-lg" type="text" id="sexo" value="" name="sexo" required />
                    <span validation-for="sexo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="bi" class="form-label">B.I</label>
                    <input for="bi" class="form-control form-control-lg" type="text" id="bi" value="" name="bi" required />
                    <span validation-for="bi" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="number" class="form-control form-control-lg" id="telefone" value="" name="telefone"
                        required />
                    <span validation-for="telefone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input for="email" type="email" class="form-control form-control-lg" id="email" value=""
                        name="email" placeholder="name@example.com" required />
                    <span validation-for="email" class="text-danger"></span>
                </div>
                <div class="mb-3" style="float:right;">
                    <input type="submit" value="Criar" class="btn btn-success btn-lg" />
                    <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>